.about {
  align-items: center;
  display: flex;
  font-size: 32px;
  height: 720px;
  justify-content: space-around;
  margin: 0 auto;
  width: 1280px;

  @media screen and (max-width: 1080px) {
    flex-direction: column;
    height: 100%;
    padding: 50px 0;
  }

  &::before {
    top: 720;
  }

  &__tag::after {
    content: '. about . about . about . about . about . about . abo';
    font-family: var(--font-family-cooper);
    font-size: 100px;
    height: 180px;
    left: 0;
    overflow: clip;
    position: absolute;
    top: 656;
    white-space: nowrap;
  }

  &__photo-container {
    height: 350px;
    position: relative;
    width: 350px;
  }

  &__photo {
    clip-path: circle(50%);
    height: 100%;
    object-fit: cover;
    position: absolute;
    width: 100%;
  }

  &__presentation {
    font-size: 22px;
    position: relative;
    width: 580px;

p {
      font-size: 22px;
    }
  }

  &__arrow {
    position: absolute;
    top: 23%;
  }

  &-bg::before {
    height: 1440;
    top: 720;
  }
}

.border-overlay {
  border: 6px solid white;
  border-radius: 50%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.perfil {
  display: grid;
  gap: var(--space-s);
  place-items: center;
}

.vertical-line {
  border-left: 3px solid var(--color-tertiary);
  border-radius: 10px;
  height: 140px;
  position: absolute;
  top: 15px;
}

.im {
  color: var(--color-tertiary);
  float: left;
  font-size: 200px;
  font-style: italic;
  line-height: 0.8;
  margin-right: 20px;
  padding-left: 30px;
}