.cta {
  align-items: center;
  color: var(--color-secondary);
  display: flex;
  height: 620px;
  justify-content: center;

  &__container {
    align-items: end;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    height: 450px;
    width: 470px;
  }

  &__info h1 {
    font-size: var(--space-l);
    margin-bottom: 9px;
  }

  &__info h2 {
    background-clip: text;
    background-image: var(--gradient-primary);
    color: transparent;
    font-size: var(--space-m);
  }

  &__info p {
    font-size: var(--space-s);
  }

  &__buttons {
    display: flex;
    gap: 20px;
    transition: trasform 0.8s ease;
  }

  &__buttons--ttv:hover, &__buttons--yt:hover {
    transform: scale(1.05);
  }

  &__mockup {
    height: 500px;
    width: 550px;
  }
}
