// =============================================================================
// Component: Header
// =============================================================================

.header {
  height: 720px;
  overflow: visible;
  position: relative;
}
