.review {
  height: 720px;

  &__title {
    margin-top: 20px;
  }

  &__title__container {
    position: relative;
  }

  &__title-clip {
    clip-path: circle(3% at 49% 32%);
    color: var(--color-tertiary);
  }

  &__title-back,
  &__title-clip {
    font-size: 76px;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
  }
}

.container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  padding: 15px;
  width: 45vw;
}

.glide {
  border: 1px solid green;
  height: 340px;
  width: 100%;
  object-fit: fill;
}