// =============================================================================
// Component: Services
// =============================================================================

.services {
  align-items: end;
  display: grid;
  gap: var(--space-2xl);
  min-height: 720px;
  padding-bottom: var(--space-xl);
  position: relative;

  &__container {
    display: grid;
    gap: var(--space-m);
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 var(--space-m);
    width: 100%;

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
}
