.bg-color {
  &::before {
    content: '';
    height: 720px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: var(--z-index-below);
  }

  &--bright::before {
    background-color: var(--color-primary);
  }

  &--dark::before {
    background-color: var(--color-secondary);
  }
}

.bg-cookie {
  &::before {
    background-repeat: repeat;
    content: '';
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
  }

  &--bright::before {
    background-image: url('../img/white.png');
  }

  &--dark::before {
    background-image: url('../img/black.png');
  }
}
