.section-title__container {
  display: flex;
  justify-content: center;
  margin-top: var(--space-l);
  padding: 0 var(--space-m);
  width: 100%;
}

.section-title__svg {
  display: block;
  height: auto;
  max-width: 860px;
  width: 100%;
}
